.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-color: #2b3467;
  box-shadow: 2px 3px #fcffe7;
  margin: 2rem 2rem;
}

.card-text {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  margin: auto 1rem;
  width: auto;
  height: auto;
  text-align: left;
}

.chatDate {
  font-size: 0.5em;
  text-align: end;
}

.panel {
  list-style-type: none;
  display: flex;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.image {
  width: 45vw;
  height: 35vh;
}
